<h1>Create Your Account</h1>
<h2>Signup is easy and only takes a few seconds.</h2>

<div class="formWrapper">
    <form id="accountCreate" action="/api/users" method="POST">
        <div class="formError"></div>
        <div class="inputWrapper">
            <div class="inputLabel">First Name</div>
            <input type="text" name="firstName" placeholder="Pizza" />
        </div>
        <div class="inputWrapper">
            <div class="inputLabel">Last Name</div>
            <input type="text" name="lastName" placeholder="Lover" />
        </div>
        <div class="inputWrapper">
            <div class="inputLabel">Email</div>
            <input type="email" name="email" placeholder="ilovepizza@gmail.com" />
        </div>
        <div class="inputWrapper">
            <div class="inputLabel">Choose a Password</div>
            <input type="password" name="password" placeholder="Make it a good one!" />
        </div>
        <div class="inputWrapper">
            <div class="inputLabel">Street address</div>
            <input type="text" name="streetAddress" placeholder="Baker St 34, Prague, Czech Republic" />
        </div>
        <div class="inputWrapper">
            <div class="inputLabel">Do you agree to the terms and conditions?</div>
            <input type="checkbox" name="tosAgreement">
        </div>
        <div class="inputWrapper ctaWrapper">
            <button type="submit" class="cta gray">SignUp</button>
        </div>
    </form>
</div>
