<h1>Pizza</h1>
<h2>The best pizza!</h2>
<h2></h2>

<div class="blurb">
    <p>
        <strong>ABOUT US!</strong>
    </p>
    <p>
        "When passion is the drive, nothing can go wrong ..." <br>
        Passion has been our driving force for almost 15 years.
        We started with the dream of making good pizzas but
        Over time we also became a TRUE CLUB OF FRIENDS.
        A place where the great passions come together: music, soccer, friends and the best pizzas.
    </p>

    <!--Poner algunas imagenes -->
</div>
<div class="ctaWrapper">
    <a class="cta gray" href="account/create">Give Me Pizza</a>
    <a class="cta gray" href="session/create">Login</a>
</div>