<h1>Purchase</h1>
<a class="backButton" href="/orders/all">Back</a>
<hr />

<div class="formWrapper">
    <form id="purchase" action="/api/purchase" method="POST">
        <input type="hidden" name="_method" value="POST" />
        <div class="formError"></div>
        <div class="formSuccess">Your payment was accepted.</br>Please check your email for the receipt.</div>
        <input class="hiddenIdInput" type="hidden" name="uid" />

        <div class="inputWrapper">
            <div class="inputLabel">Credit card number</div>
            <input type="tel" maxlength="16" name="cardNumber" placeholder="4242 4242 4242 4242">
        </div>

        <div class="inputWrapper">
            <div class="inputLabel">CVC</div>
            <input name="cvc" id="card-cvc" placeholder="XXX-X" type="text" min-length="3" max-length="4">
        </div>

        <div class="inputWrapper">
            <div class="inputLabel">Expiration date</div>
            <input name="exp-date" type="text" placeholder="MM-YY" length="5">
        </div>

        <div class="inputWrapper ctaWrapper">
            <button type="submit" class="cta gray" id="purchaseButton">Purchase</button>
        </div>

        <div class="bill">
            <p id="description"></p>
        </div>

    </form>
</div>
